<div class="container">
  <label>Server Name</label>
<!-- <input
  type="text"
  name="serverName"
  class="form-control"
  (input)="onUpdateServerName($event)"> -->
  <input
  type="text"
  class="form-control"
  [(ngModel)]="serverName">
<br>
<button type="button" name="button" class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()">Add Server</button>
  <!-- <p [innerText]="serverCreationStatus"></p> -->
  <p *ngIf="serverCreated">Server created with name {{ serverName }}</p>

<app-server *ngFor="let server of servers"></app-server>
</div>
